<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFlightInfoLabel">Create or edit a Flight Info</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <apsstr-alert-error></apsstr-alert-error>
        <div class="form-group" [hidden]="!flightInfo.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="flightInfo.id" readonly />
        </div>

        <div class="form-group">
            <label for="field_type">Type</label>
            <select class="form-control" id="field_type" multiple name="type" [(ngModel)]="flightInfo.types">
                <option [ngValue]="getSelected(flightInfo.types, regionOption)" *ngFor="let regionOption of regions; trackBy: trackRegionById">{{regionOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_origin">Origin</label>
            <select class="form-control" id="field_origin" multiple name="origin" [(ngModel)]="flightInfo.origins">
                <option [ngValue]="getSelected(flightInfo.origins, regionOption)" *ngFor="let regionOption of regions; trackBy: trackRegionById">{{regionOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_travelClass">Travel Class</label>
            <select class="form-control" id="field_travelClass" multiple name="travelClass" [(ngModel)]="flightInfo.travelClasses">
                <option [ngValue]="getSelected(flightInfo.travelClasses, flightClassOption)" *ngFor="let flightClassOption of flightclasses; trackBy: trackFlightClassById">{{flightClassOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
