
<div *ngIf="flightInfo">
    <h2><span>Flight Info</span> {{flightInfo.id}}</h2>
    <hr>
    <apsstr-alert-error></apsstr-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Type</span></dt>
        <dd>
            <span *ngFor="let type of flightInfo.types; let last = last">
                <a [routerLink]="['/region', type?.id ]">{{type.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Origin</span></dt>
        <dd>
            <span *ngFor="let origin of flightInfo.origins; let last = last">
                <a [routerLink]="['/region', origin?.id ]">{{origin.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Travel Class</span></dt>
        <dd>
            <span *ngFor="let travelClass of flightInfo.travelClasses; let last = last">
                <a [routerLink]="['/flight-class', travelClass?.id ]">{{travelClass.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'flight-info/'+ flightInfo.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
