<div>
    <h2>
        <span>Flight Infos</span>
        <button class="btn btn-primary float-right jh-create-entity create-flight-info" [routerLink]="['/', { outlets: { popup: ['flight-info-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Flight Info
            </span>
        </button>
    </h2>
    <apsstr-alert></apsstr-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="flightInfos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Type</span></th>
            <th><span>Origin</span></th>
            <th><span>Travel Class</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let flightInfo of flightInfos ;trackBy: trackId">
                <td><a [routerLink]="['../flight-info', flightInfo.id ]">{{flightInfo.id}}</a></td>
                <td>
                    <span *ngFor="let type of flightInfo.types; let last = last">
                            <a class="form-control-static" [routerLink]="['../region', type?.id ]">{{type.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let origin of flightInfo.origins; let last = last">
                            <a class="form-control-static" [routerLink]="['../region', origin?.id ]">{{origin.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let travelClass of flightInfo.travelClasses; let last = last">
                            <a class="form-control-static" [routerLink]="['../flight-class', travelClass?.id ]">{{travelClass.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../flight-info', flightInfo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'flight-info/'+ flightInfo.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'flight-info/'+ flightInfo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
