<apsstr-card>
  <apsstr-card-header>
      <i class="fa fa-lg fa-mobile" aria-hidden="true"></i>
      <span>CAB</span>
  </apsstr-card-header>
  <apsstr-card-body>
      <form role="form" #busInputForm="ngForm" novalidate>
          <div class="form-group mb-4">
              <ng-select name="from" [items]="cities" bindLabel="name" bindValue="id" [(ngModel)]="busInput.from"
                  placeholder="From" required></ng-select>
          </div>
          <div class="form-group mb-4">
              <ng-select name="to" [items]="cities" bindLabel="name" bindValue="id" [(ngModel)]="busInput.to"
                  placeholder="To" required></ng-select>
          </div>
          <div class="form-group">
              <input class="form-control" type="text" name="expense" id="expense" [(ngModel)]="busInput.expense.expense" placeholder="Amount"
                  apsstrNumberInput required>
          </div>
      </form>
  </apsstr-card-body>
  <apsstr-card-footer extraClass="text-center">
      <button type="button" class="btn btn-primary" [disabled]="calculating || busInputForm.form.invalid" (click)="calculate()">
          <i class="fa fa-search"></i>&nbsp;My Offer</button>
  </apsstr-card-footer>
</apsstr-card>