<apsstr-card>
  <apsstr-card-header>
      <i class="fa fa-lg fa-mobile" aria-hidden="true"></i>
      <span>METRO</span>
  </apsstr-card-header>
  <apsstr-card-body>
      <form role="form" #metroInputForm="ngForm" novalidate>
          <div class="form-group mb-4">
              <ng-select name="serviceProvider" [items]="serviceProviders" bindLabel="name" bindValue="id" [(ngModel)]="metroInput.serviceProviderId"
                  placeholder="Operator" required></ng-select>
          </div>
          <div class="form-group">
              <input class="form-control" type="text" name="expense" id="expense" [(ngModel)]="metroInput.expense.expense" placeholder="Amount"
                  apsstrNumberInput required>
          </div>
      </form>
  </apsstr-card-body>
  <apsstr-card-footer class="text-center">
      <button type="button" class="btn btn-primary" [disabled]="calculating || metroInputForm.form.invalid" (click)="calculate()">
          <i class="fa fa-search"></i>&nbsp;My Offer</button>
  </apsstr-card-footer>
</apsstr-card>