<div>
    <h2>
        <span>Brands</span>
        <button class="btn btn-primary float-right jh-create-entity create-brand" [routerLink]="['/', { outlets: { popup: ['brand-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Brand
            </span>
        </button>
    </h2>
    <apsstr-alert></apsstr-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="brands">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Sub Category</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let brand of brands ;trackBy: trackId">
                <td><a [routerLink]="['../brand', brand.id ]">{{brand.id}}</a></td>
                <td>{{brand.name}}</td>
                <td>
                    <span *ngFor="let subCategory of brand.subCategories; let last = last">
                            <a class="form-control-static" [routerLink]="['../sub-category', subCategory?.id ]">{{subCategory.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../brand', brand.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'brand/'+ brand.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'brand/'+ brand.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
