<div>
    <h2>
        <span>Offer</span>
    </h2>
</div>
<div kendoDialogContainer></div>
<kendo-grid [kendoGridBinding]="offers" [pageable]="true" [pageSize]="gridState.take" [skip]="gridState.skip" [filterable]="true"
    [sortable]="true" [resizable]="true" [navigable]="true" (edit)="editOffer($event.dataItem.id)" (remove)="removeOffer($event)">
    <kendo-grid-column class="text-center" field="id" width="80" title="ID" [filterable]="false"></kendo-grid-column>
    <kendo-grid-column class="text-center" field="name" title="Name" [filterable]="false" [sortable]="false"></kendo-grid-column>
    <kendo-grid-column class="text-center" field="startDate" title="startDate" [filterable]="false" [sortable]="false"></kendo-grid-column>
    <kendo-grid-column class="text-center" width="160" field="active" title="Status" filter="boolean">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span [ngClass]="{ 'badge': true, 'badge-pill': true, 'px-2': true, 'py-1': true, 'badge-success': dataItem.active, 'badge-danger': !dataItem.active }">{{ dataItem.active ? 'Active' : 'InActive' }}</span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column class="text-center" width="160" field="dummy" title="Dummy" filter="boolean">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span [ngClass]="{ 'badge': true, 'badge-pill': true, 'px-2': true, 'py-1': true, 'badge-success': dataItem.active, 'badge-danger': !dataItem.active }">{{ dataItem.dummy ? 'YES' : 'NO' }}</span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column class="text-center" width="160" field="apsstrExclusive" title="Apsstr Exclusive" filter="boolean">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span [ngClass]="{ 'badge': true, 'badge-pill': true, 'px-2': true, 'py-1': true, 'badge-success': dataItem.active, 'badge-danger': !dataItem.active }">{{ dataItem.apsstrExclusive ? 'YES' : 'NO' }}</span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-command-column title="Action" width="180">
        <ng-template kendoGridCellTemplate let-isNew="isNew">
            <div class="text-center">
                <button kendoGridEditCommand class="k-primary">Edit</button>
                <button kendoGridRemoveCommand>Delete</button>
            </div>
        </ng-template>
    </kendo-grid-command-column>
</kendo-grid>
