<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOfferLabel">Create or edit a Offer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <apsstr-alert-error></apsstr-alert-error>
        <div class="form-group" [hidden]="!offer.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="offer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="offer.name" required maxlength="500"/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength">
                   This field cannot be longer than 500 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="offer.description" maxlength="2000"/>
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.maxlength">
                   This field cannot be longer than 2000 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_adminDescription">Admin Description</label>
            <input type="text" class="form-control" name="adminDescription" id="field_adminDescription"
                [(ngModel)]="offer.adminDescription" maxlength="2000"/>
            <div [hidden]="!(editForm.controls.adminDescription?.dirty && editForm.controls.adminDescription?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.adminDescription?.errors?.maxlength">
                   This field cannot be longer than 2000 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="offer.code" maxlength="255"/>
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.code?.errors?.maxlength">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_startDate">Start Date</label>
            <div class="d-flex">
                <input id="field_startDate" type="datetime-local" class="form-control" name="startDate" [(ngModel)]="offer.startDate"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.startDate?.dirty && editForm.controls.startDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.startDate?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.startDate?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_endDate">End Date</label>
            <div class="d-flex">
                <input id="field_endDate" type="datetime-local" class="form-control" name="endDate" [(ngModel)]="offer.endDate"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.endDate?.dirty && editForm.controls.endDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.endDate?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.endDate?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_maximumUsesPerUser">Maximum Uses Per User</label>
            <input type="number" class="form-control" name="maximumUsesPerUser" id="field_maximumUsesPerUser"
                [(ngModel)]="offer.maximumUsesPerUser" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_maximumUsesPerDay">Maximum Uses Per Day</label>
            <input type="number" class="form-control" name="maximumUsesPerDay" id="field_maximumUsesPerDay"
                [(ngModel)]="offer.maximumUsesPerDay" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_maximumUsesPerWeek">Maximum Uses Per Week</label>
            <input type="number" class="form-control" name="maximumUsesPerWeek" id="field_maximumUsesPerWeek"
                [(ngModel)]="offer.maximumUsesPerWeek" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_maximumUsesPerMonth">Maximum Uses Per Month</label>
            <input type="number" class="form-control" name="maximumUsesPerMonth" id="field_maximumUsesPerMonth"
                [(ngModel)]="offer.maximumUsesPerMonth" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_maximumUsesPerNumber">Maximum Uses Per Number</label>
            <input type="number" class="form-control" name="maximumUsesPerNumber" id="field_maximumUsesPerNumber"
                [(ngModel)]="offer.maximumUsesPerNumber" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_newUserOnly">New User Only</label>
            <input type="checkbox" class="form-control" name="newUserOnly" id="field_newUserOnly"
                [(ngModel)]="offer.newUserOnly" />
            <div [hidden]="!(editForm.controls.newUserOnly?.dirty && editForm.controls.newUserOnly?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.newUserOnly?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_appOnly">App Only</label>
            <input type="checkbox" class="form-control" name="appOnly" id="field_appOnly"
                [(ngModel)]="offer.appOnly" />
            <div [hidden]="!(editForm.controls.appOnly?.dirty && editForm.controls.appOnly?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.appOnly?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_websiteOnly">Website Only</label>
            <input type="checkbox" class="form-control" name="websiteOnly" id="field_websiteOnly"
                [(ngModel)]="offer.websiteOnly" />
            <div [hidden]="!(editForm.controls.websiteOnly?.dirty && editForm.controls.websiteOnly?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.websiteOnly?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_numberOfUses">Number Of Uses</label>
            <input type="number" class="form-control" name="numberOfUses" id="field_numberOfUses"
                [(ngModel)]="offer.numberOfUses" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                [(ngModel)]="offer.active" />
            <div [hidden]="!(editForm.controls.active?.dirty && editForm.controls.active?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.active?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dummy">Dummy</label>
            <input type="checkbox" class="form-control" name="dummy" id="field_dummy"
                [(ngModel)]="offer.dummy" />
            <div [hidden]="!(editForm.controls.dummy?.dirty && editForm.controls.dummy?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dummy?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_apsstrExclusive">Apsstr Exclusive</label>
            <input type="checkbox" class="form-control" name="apsstrExclusive" id="field_apsstrExclusive"
                [(ngModel)]="offer.apsstrExclusive" />
            <div [hidden]="!(editForm.controls.apsstrExclusive?.dirty && editForm.controls.apsstrExclusive?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.apsstrExclusive?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                [(ngModel)]="offer.url" maxlength="2000"/>
            <div [hidden]="!(editForm.controls.url?.dirty && editForm.controls.url?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.url?.errors?.maxlength">
                   This field cannot be longer than 2000 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_travelInfo">Travel Info</label>
            <select class="form-control" id="field_travelInfo" name="travelInfo" [(ngModel)]="offer.travelInfo">
                <option [ngValue]="null"></option>
                <option [ngValue]="travelInfoOption.id === offer.travelInfo?.id ? offer.travelInfo : travelInfoOption" *ngFor="let travelInfoOption of travelinfos; trackBy: trackTravelInfoById">{{travelInfoOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_reechargeInfo">Reecharge Info</label>
            <select class="form-control" id="field_reechargeInfo" name="reechargeInfo" [(ngModel)]="offer.reechargeInfo">
                <option [ngValue]="null"></option>
                <option [ngValue]="reechargeInfoOption.id === offer.reechargeInfo?.id ? offer.reechargeInfo : reechargeInfoOption" *ngFor="let reechargeInfoOption of reechargeinfos; trackBy: trackReechargeInfoById">{{reechargeInfoOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_policy">Policy</label>
            <select class="form-control" id="field_policy" name="policy" [(ngModel)]="offer.policy" >
                <option [ngValue]="null"></option>
                <option [ngValue]="offerPolicyOption.id === offer.policy?.id ? offer.policy : offerPolicyOption" *ngFor="let offerPolicyOption of offerpolicies; trackBy: trackOfferPolicyById">{{offerPolicyOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_operatingSystem">Operating System</label>
            <select class="form-control" id="field_operatingSystem" multiple name="operatingSystem" [(ngModel)]="offer.operatingSystems">
                <option [ngValue]="getSelected(offer.operatingSystems, operatingSystemOption)" *ngFor="let operatingSystemOption of operatingsystems; trackBy: trackOperatingSystemById">{{operatingSystemOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_country">Country</label>
            <select class="form-control" id="field_country" multiple name="country" [(ngModel)]="offer.countries">
                <option [ngValue]="getSelected(offer.countries, countryOption)" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_state">State</label>
            <select class="form-control" id="field_state" multiple name="state" [(ngModel)]="offer.states">
                <option [ngValue]="getSelected(offer.states, stateOption)" *ngFor="let stateOption of states; trackBy: trackStateById">{{stateOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_city">City</label>
            <select class="form-control" id="field_city" multiple name="city" [(ngModel)]="offer.cities">
                <option [ngValue]="getSelected(offer.cities, cityOption)" *ngFor="let cityOption of cities; trackBy: trackCityById">{{cityOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_subCategory">Sub Category</label>
            <select class="form-control" id="field_subCategory" multiple name="subCategory" [(ngModel)]="offer.subCategories">
                <option [ngValue]="getSelected(offer.subCategories, subCategoryOption)" *ngFor="let subCategoryOption of subcategories; trackBy: trackSubCategoryById">{{subCategoryOption.code}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_serviceProvider">Service Provider</label>
            <select class="form-control" id="field_serviceProvider" multiple name="serviceProvider" [(ngModel)]="offer.serviceProviders">
                <option [ngValue]="getSelected(offer.serviceProviders, serviceProviderOption)" *ngFor="let serviceProviderOption of serviceproviders; trackBy: trackServiceProviderById">{{serviceProviderOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_activeDate">Active Date</label>
            <select class="form-control" id="field_activeDate" multiple name="activeDate" [(ngModel)]="offer.activeDates">
                <option [ngValue]="getSelected(offer.activeDates, dateOption)" *ngFor="let dateOption of dates; trackBy: trackDateById">{{dateOption.date}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_activeDay">Active Day</label>
            <select class="form-control" id="field_activeDay" multiple name="activeDay" [(ngModel)]="offer.activeDays">
                <option [ngValue]="getSelected(offer.activeDays, dayOption)" *ngFor="let dayOption of days; trackBy: trackDayById">{{dayOption.day}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_reechargeType">Reecharge Type</label>
            <select class="form-control" id="field_reechargeType" multiple name="reechargeType" [(ngModel)]="offer.reechargeTypes">
                <option [ngValue]="getSelected(offer.reechargeTypes, reechargePlanTypeOption)" *ngFor="let reechargePlanTypeOption of reechargeplantypes; trackBy: trackReechargePlanTypeById">{{reechargePlanTypeOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_affiliate">Affiliate</label>
            <select class="form-control" id="field_affiliate" name="affiliate" [(ngModel)]="offer.affiliate" >
                <option [ngValue]="null"></option>
                <option [ngValue]="affiliateOption.id === offer.affiliate?.id ? offer.affiliate : affiliateOption" *ngFor="let affiliateOption of affiliates; trackBy: trackAffiliateById">{{affiliateOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_merchant">Merchant</label>
            <select class="form-control" id="field_merchant" name="merchant" [(ngModel)]="offer.merchant" >
                <option [ngValue]="null"></option>
                <option [ngValue]="merchantOption.id === offer.merchant?.id ? offer.merchant : merchantOption" *ngFor="let merchantOption of merchants; trackBy: trackMerchantById">{{merchantOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_type">Type</label>
            <select class="form-control" id="field_type" name="type" [(ngModel)]="offer.type" >
                <option [ngValue]="null"></option>
                <option [ngValue]="offerTypeOption.id === offer.type?.id ? offer.type : offerTypeOption" *ngFor="let offerTypeOption of offertypes; trackBy: trackOfferTypeById">{{offerTypeOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
