
<div *ngIf="offer">
    <h2><span>Offer</span> {{offer.id}}</h2>
    <hr>
    <apsstr-alert-error></apsstr-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{offer.name}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{offer.description}}</span>
        </dd>
        <dt><span>Admin Description</span></dt>
        <dd>
            <span>{{offer.adminDescription}}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
            <span>{{offer.code}}</span>
        </dd>
        <dt><span>Start Date</span></dt>
        <dd>
            <span>{{offer.startDate | date:'medium'}}</span>
        </dd>
        <dt><span>End Date</span></dt>
        <dd>
            <span>{{offer.endDate | date:'medium'}}</span>
        </dd>
        <dt><span>Maximum Uses Per User</span></dt>
        <dd>
            <span>{{offer.maximumUsesPerUser}}</span>
        </dd>
        <dt><span>Maximum Uses Per Day</span></dt>
        <dd>
            <span>{{offer.maximumUsesPerDay}}</span>
        </dd>
        <dt><span>Maximum Uses Per Week</span></dt>
        <dd>
            <span>{{offer.maximumUsesPerWeek}}</span>
        </dd>
        <dt><span>Maximum Uses Per Month</span></dt>
        <dd>
            <span>{{offer.maximumUsesPerMonth}}</span>
        </dd>
        <dt><span>Maximum Uses Per Number</span></dt>
        <dd>
            <span>{{offer.maximumUsesPerNumber}}</span>
        </dd>
        <dt><span>New User Only</span></dt>
        <dd>
            <span>{{offer.newUserOnly}}</span>
        </dd>
        <dt><span>App Only</span></dt>
        <dd>
            <span>{{offer.appOnly}}</span>
        </dd>
        <dt><span>Website Only</span></dt>
        <dd>
            <span>{{offer.websiteOnly}}</span>
        </dd>
        <dt><span>Number Of Uses</span></dt>
        <dd>
            <span>{{offer.numberOfUses}}</span>
        </dd>
        <dt><span>Active</span></dt>
        <dd>
            <span>{{offer.active}}</span>
        </dd>
        <dt><span>Dummy</span></dt>
        <dd>
            <span>{{offer.dummy}}</span>
        </dd>
        <dt><span>Apsstr Exclusive</span></dt>
        <dd>
            <span>{{offer.apsstrExclusive}}</span>
        </dd>
        <dt><span>Url</span></dt>
        <dd>
            <span>{{offer.url}}</span>
        </dd>
        <dt><span>Travel Info</span></dt>
        <dd>
            <div *ngIf="offer.travelInfo">
                <a [routerLink]="['/travel-info', offer.travelInfo?.id]">{{offer.travelInfo?.id}}</a>
            </div>
        </dd>
        <dt><span>Reecharge Info</span></dt>
        <dd>
            <div *ngIf="offer.reechargeInfo">
                <a [routerLink]="['/reecharge-info', offer.reechargeInfo?.id]">{{offer.reechargeInfo?.id}}</a>
            </div>
        </dd>
        <dt><span>Policy</span></dt>
        <dd>
            <div *ngIf="offer.policy">
                <a [routerLink]="['/offer-policy', offer.policy?.id]">{{offer.policy?.name}}</a>
            </div>
        </dd>
        <dt><span>Operating System</span></dt>
        <dd>
            <span *ngFor="let operatingSystem of offer.operatingSystems; let last = last">
                <a [routerLink]="['/operating-system', operatingSystem?.id ]">{{operatingSystem.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
            <span *ngFor="let country of offer.countries; let last = last">
                <a [routerLink]="['/country', country?.id ]">{{country.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>State</span></dt>
        <dd>
            <span *ngFor="let state of offer.states; let last = last">
                <a [routerLink]="['/state', state?.id ]">{{state.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
            <span *ngFor="let city of offer.cities; let last = last">
                <a [routerLink]="['/city', city?.id ]">{{city.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Sub Category</span></dt>
        <dd>
            <span *ngFor="let subCategory of offer.subCategories; let last = last">
                <a [routerLink]="['/sub-category', subCategory?.id ]">{{subCategory.code}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Service Provider</span></dt>
        <dd>
            <span *ngFor="let serviceProvider of offer.serviceProviders; let last = last">
                <a [routerLink]="['/service-provider', serviceProvider?.id ]">{{serviceProvider.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Active Date</span></dt>
        <dd>
            <span *ngFor="let activeDate of offer.activeDates; let last = last">
                <a [routerLink]="['/date', activeDate?.id ]">{{activeDate.date}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Active Day</span></dt>
        <dd>
            <span *ngFor="let activeDay of offer.activeDays; let last = last">
                <a [routerLink]="['/day', activeDay?.id ]">{{activeDay.day}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Reecharge Type</span></dt>
        <dd>
            <span *ngFor="let reechargeType of offer.reechargeTypes; let last = last">
                <a [routerLink]="['/reecharge-plan-type', reechargeType?.id ]">{{reechargeType.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Affiliate</span></dt>
        <dd>
            <div *ngIf="offer.affiliate">
                <a [routerLink]="['/affiliate', offer.affiliate?.id]">{{offer.affiliate?.name}}</a>
            </div>
        </dd>
        <dt><span>Merchant</span></dt>
        <dd>
            <div *ngIf="offer.merchant">
                <a [routerLink]="['/merchant', offer.merchant?.id]">{{offer.merchant?.name}}</a>
            </div>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
            <div *ngIf="offer.type">
                <a [routerLink]="['/offer-type', offer.type?.id]">{{offer.type?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'offer/'+ offer.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
