<div>
    <h2>
        <span>Electronics Infos</span>
        <button class="btn btn-primary float-right jh-create-entity create-electronics-info" [routerLink]="['/', { outlets: { popup: ['electronics-info-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Electronics Info
            </span>
        </button>
    </h2>
    <apsstr-alert></apsstr-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="electronicsInfos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Brand</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let electronicsInfo of electronicsInfos ;trackBy: trackId">
                <td><a [routerLink]="['../electronics-info', electronicsInfo.id ]">{{electronicsInfo.id}}</a></td>
                <td>
                    <span *ngFor="let brand of electronicsInfo.brands; let last = last">
                            <a class="form-control-static" [routerLink]="['../brand', brand?.id ]">{{brand.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../electronics-info', electronicsInfo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'electronics-info/'+ electronicsInfo.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'electronics-info/'+ electronicsInfo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
