<kendo-grid [data]="affiliates">
    <kendo-grid-column field="id" title="ID" width="130"></kendo-grid-column>
    <kendo-grid-column field="name" title="Name" width="200"></kendo-grid-column>
    <kendo-grid-column field="active" title="Status"></kendo-grid-column>
    <kendo-grid-column field="url" title="Url"></kendo-grid-column>
</kendo-grid>

<!-- <div>
    <h2>
        <span>Affiliates</span>
        <button class="btn btn-primary float-right jh-create-entity create-affiliate" [routerLink]="['/', { outlets: { popup: ['affiliate-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Affiliate
            </span>
        </button>
    </h2>
    <apsstr-alert></apsstr-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="affiliates">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Url</span></th>
            <th><span>Active</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let affiliate of affiliates ;trackBy: trackId">
                <td><a [routerLink]="['../affiliate', affiliate.id ]">{{affiliate.id}}</a></td>
                <td>{{affiliate.name}}</td>
                <td>{{affiliate.url}}</td>
                <td>{{affiliate.active}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../affiliate', affiliate.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'affiliate/'+ affiliate.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'affiliate/'+ affiliate.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div> -->
