<div class="row">
  <div class="col-12 col-sm-5 col-md-4">
      <router-outlet></router-outlet>
  </div>
  <div class="col-12 col-sm-7 col-md-8" *blockUI="'calculateCashback'">
      <!-- <jhi-stored-cashback></jhi-stored-cashback>
      <div *ngIf="cashbackInfos; then showCashbackInfos else noCashbackInfo"></div>
      <ng-template #showCashbackInfos>
          <jhi-cashback-info *ngIf="isExistCashbackInfos(); else offerNotFound" [cashbackInfos]="cashbackInfos"></jhi-cashback-info>
          <ng-template #offerNotFound>
              <jhi-offer-not-found></jhi-offer-not-found>
          </ng-template>
      </ng-template>
      <ng-template #noCashbackInfo>
          <ng-container *ngIf="showDefault">
              <jhi-site-story></jhi-site-story>
          </ng-container>
          <ng-container *ngIf="showError">
              <jhi-server-error></jhi-server-error>
          </ng-container>
      </ng-template> -->
      YO MANN!!!!
  </div>
</div>
