<div>
    <h2>
        <span>Bus Infos</span>
        <button class="btn btn-primary float-right jh-create-entity create-bus-info" [routerLink]="['/', { outlets: { popup: ['bus-info-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Bus Info
            </span>
        </button>
    </h2>
    <apsstr-alert></apsstr-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="busInfos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>From</span></th>
            <th><span>To</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let busInfo of busInfos ;trackBy: trackId">
                <td><a [routerLink]="['../bus-info', busInfo.id ]">{{busInfo.id}}</a></td>
                <td>
                    <span *ngFor="let from of busInfo.froms; let last = last">
                            <a class="form-control-static" [routerLink]="['../city', from?.id ]">{{from.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let to of busInfo.tos; let last = last">
                            <a class="form-control-static" [routerLink]="['../city', to?.id ]">{{to.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../bus-info', busInfo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bus-info/'+ busInfo.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bus-info/'+ busInfo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
