<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTravelInfoLabel">Create or edit a Travel Info</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <apsstr-alert-error></apsstr-alert-error>
        <div class="form-group" [hidden]="!travelInfo.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="travelInfo.id" readonly />
        </div>

        <div class="form-group">
            <label for="field_type">Type</label>
            <select class="form-control" id="field_type" multiple name="type" [(ngModel)]="travelInfo.types">
                <option [ngValue]="getSelected(travelInfo.types, travelTypeOption)" *ngFor="let travelTypeOption of traveltypes; trackBy: trackTravelTypeById">{{travelTypeOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_region">Region</label>
            <select class="form-control" id="field_region" multiple name="region" [(ngModel)]="travelInfo.regions">
                <option [ngValue]="getSelected(travelInfo.regions, regionOption)" *ngFor="let regionOption of regions; trackBy: trackRegionById">{{regionOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_origin">Origin</label>
            <select class="form-control" id="field_origin" multiple name="origin" [(ngModel)]="travelInfo.origins">
                <option [ngValue]="getSelected(travelInfo.origins, regionOption)" *ngFor="let regionOption of regions; trackBy: trackRegionById">{{regionOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
