<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTravelInfoLabel">Create or edit a Travel Info</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <apsstr-alert-error></apsstr-alert-error>
        <div class="form-group" [hidden]="!travelInfo.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="travelInfo.id" readonly />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_flightInfo">Flight Info</label>
            <select class="form-control" id="field_flightInfo" name="flightInfo" [(ngModel)]="travelInfo.flightInfo">
                <option [ngValue]="null"></option>
                <option [ngValue]="flightInfoOption.id === travelInfo.flightInfo?.id ? travelInfo.flightInfo : flightInfoOption" *ngFor="let flightInfoOption of flightinfos; trackBy: trackFlightInfoById">{{flightInfoOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_busInfo">Bus Info</label>
            <select class="form-control" id="field_busInfo" name="busInfo" [(ngModel)]="travelInfo.busInfo">
                <option [ngValue]="null"></option>
                <option [ngValue]="busInfoOption.id === travelInfo.busInfo?.id ? travelInfo.busInfo : busInfoOption" *ngFor="let busInfoOption of businfos; trackBy: trackBusInfoById">{{busInfoOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_type">Type</label>
            <select class="form-control" id="field_type" multiple name="type" [(ngModel)]="travelInfo.types">
                <option [ngValue]="getSelected(travelInfo.types, travelTypeOption)" *ngFor="let travelTypeOption of traveltypes; trackBy: trackTravelTypeById">{{travelTypeOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
