
<div *ngIf="travelInfo">
    <h2><span>Travel Info</span> {{travelInfo.id}}</h2>
    <hr>
    <apsstr-alert-error></apsstr-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Flight Info</span></dt>
        <dd>
            <div *ngIf="travelInfo.flightInfo">
                <a [routerLink]="['/flight-info', travelInfo.flightInfo?.id]">{{travelInfo.flightInfo?.id}}</a>
            </div>
        </dd>
        <dt><span>Bus Info</span></dt>
        <dd>
            <div *ngIf="travelInfo.busInfo">
                <a [routerLink]="['/bus-info', travelInfo.busInfo?.id]">{{travelInfo.busInfo?.id}}</a>
            </div>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
            <span *ngFor="let type of travelInfo.types; let last = last">
                <a [routerLink]="['/travel-type', type?.id ]">{{type.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'travel-info/'+ travelInfo.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
