<div>
    <h2>
        <span>User Infos</span>
        <button class="btn btn-primary float-right jh-create-entity create-user-info" [routerLink]="['/', { outlets: { popup: ['user-info-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new User Info
            </span>
        </button>
    </h2>
    <apsstr-alert></apsstr-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="userInfos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>City</span></th>
            <th><span>Merchant</span></th>
            <th><span>Card</span></th>
            <th><span>Operating System</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userInfo of userInfos ;trackBy: trackId">
                <td><a [routerLink]="['../user-info', userInfo.id ]">{{userInfo.id}}</a></td>
                <td>
                    <div *ngIf="userInfo.city">
                        <a [routerLink]="['../city', userInfo.city?.id ]" >{{userInfo.city?.id}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let merchant of userInfo.merchants; let last = last">
                            <a class="form-control-static" [routerLink]="['../merchant', merchant?.id ]">{{merchant.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let card of userInfo.cards; let last = last">
                            <a class="form-control-static" [routerLink]="['../card', card?.id ]">{{card.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let operatingSystem of userInfo.operatingSystems; let last = last">
                            <a class="form-control-static" [routerLink]="['../operating-system', operatingSystem?.id ]">{{operatingSystem.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../user-info', userInfo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-info/'+ userInfo.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-info/'+ userInfo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
