<apsstr-card>
    <apsstr-card-header>
        <i class="fa fa-lg fa-mobile" aria-hidden="true"></i>
        <span>YOUR MOBILE DETAILS</span>
    </apsstr-card-header>
    <apsstr-card-body>
        <form role="form" #mobileInputForm="ngForm" novalidate>
            <div class="form-group">
                <label class="radio-inline" for="{{ 'subCategory_' + subCategory.value }}" *ngFor="let subCategory of subCategories">
                    <input type="radio" id="{{ 'subCategory_' + subCategory.value }}" name="subCategory" [(ngModel)]="subCategoryCode" value="{{ subCategory.value }}"
                        (click)="onSelectSubCategory(subCategory.value)">
                        <span class="mr-2 ml-1">{{ subCategory.name }}</span>
                </label>
            </div>
            <div class="form-group">
                <ng-select [options]="circles" [(ngModel)]="mobileInput.circleId" name="circle" id="circle" placeholder="Circle" filterPlaceholder="Type to Search"
                    [noFilter]="6" notFoundMsg="No options found" required>
                </ng-select>
            </div>
            <div class="form-group">
                <ng-select [options]="serviceProviders" [(ngModel)]="mobileInput.serviceProviderId" name="serviceProvider" id="serviceProvider"
                    placeholder="Operator" filterPlaceholder="Type to Search" [noFilter]="6" notFoundMsg="No options found" required>
                </ng-select>
            </div>
            <div class="form-group">
                <div class="controls">
                    <div class="input-group">
                        <input class="form-control" type="text" name="expense" id="expense" [(ngModel)]="mobileInput.expense.expense" placeholder="Amount"
                            apsstrNumber required>
                        <span class="input-group-btn">
                            <!-- <apsstr-button type="button" text="View Plans" color="primary" icon="fa fa-search"></apsstr-button> -->
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </apsstr-card-body>
    <apsstr-card-footer class="text-center">
        <!-- <apsstr-button type="submit" text="Find Best Offer" color="primary" icon="fa fa-search" [disabled]="!mobileInputForm.form.valid || calculating"
            (onClick)="calculate()"></apsstr-button> -->
    </apsstr-card-footer>
</apsstr-card>
