<apsstr-card>
    <apsstr-card-header>
        <i class="fa fa-lg fa-mobile" aria-hidden="true"></i>
        <span>YOUR MOBILE DETAILS</span>
    </apsstr-card-header>
    <apsstr-card-body>
        <form role="form" #mobileInputForm="ngForm" novalidate>
            <div class="form-group">
                <label class="radio-inline" for="{{ 'subCategory_' + subCategory.value }}" *ngFor="let subCategory of subCategories">
                    <input type="radio" id="{{ 'subCategory_' + subCategory.value }}" name="subCategory" [(ngModel)]="subCategoryCode" value="{{ subCategory.value }}"
                        (click)="onSelectSubCategory(subCategory.value)">
                    <span class="mr-2 ml-1">{{ subCategory.name }}</span>
                </label>
            </div>
            <div class="form-group">
                <ng-select name="circle" [items]="circles" bindLabel="name" bindValue="id" [(ngModel)]="mobileInput.circleId" placeholder="Circle"
                    required>
                </ng-select>
            </div>
            <div class="form-group">
                <ng-select name="serviceProvider" [items]="serviceProviders" bindLabel="name" bindValue="id" [(ngModel)]="mobileInput.serviceProviderId"
                    placeholder="Operator" required>
            </div>
            <div class="form-group">
                <div class="controls">
                    <div class="input-group">
                        <input class="form-control" type="text" name="expense" id="expense" [(ngModel)]="mobileInput.expense.expense" placeholder="Amount"
                            apsstrNumber required>
                        <span class="input-group-btn">
                            <!-- <apsstr-button type="button" text="View Plans" color="primary" icon="fa fa-search"></apsstr-button> -->
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </apsstr-card-body>
    <apsstr-card-footer class="text-center">
        <button type="button" class="btn btn-primary" [disabled]="calculating || mobileInputForm.form.invalid" (click)="calculate()">
            <i class="fa fa-search"></i>&nbsp;Find Best Offer</button>
    </apsstr-card-footer>
</apsstr-card>