<div>
    <h2>
        <span>Main Returns</span>
        <button class="btn btn-primary float-right jh-create-entity create-main-return" [routerLink]="['/', { outlets: { popup: ['main-return-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Main Return
            </span>
        </button>
    </h2>
    <apsstr-alert></apsstr-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="mainReturns">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Amount</span></th>
            <th><span>Exact</span></th>
            <th><span>Default Amount</span></th>
            <th><span>Mode</span></th>
            <th><span>Channel</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mainReturn of mainReturns ;trackBy: trackId">
                <td><a [routerLink]="['../main-return', mainReturn.id ]">{{mainReturn.id}}</a></td>
                <td>{{mainReturn.amount}}</td>
                <td>{{mainReturn.exact}}</td>
                <td>{{mainReturn.defaultAmount}}</td>
                <td>
                    <div *ngIf="mainReturn.mode">
                        <a [routerLink]="['../return-mode', mainReturn.mode?.id ]" >{{mainReturn.mode?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="mainReturn.channel">
                        <a [routerLink]="['../card', mainReturn.channel?.id ]" >{{mainReturn.channel?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../main-return', mainReturn.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'main-return/'+ mainReturn.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'main-return/'+ mainReturn.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
