<apsstr-card>
    <apsstr-card-header>
        <i class="fa fa-lg fa-mobile" aria-hidden="true"></i>
        <span>DATACARD</span>
    </apsstr-card-header>
    <apsstr-card-body>
        <form role="form" #datacardInputForm="ngForm" novalidate>
            <div class="form-group row mb-4">
                <div class="col-md-12 col-form-label text-center">
                    <div class="form-check form-check-inline mr-3" id="subCategory" *ngFor="let subCategory of subCategories">
                        <input class="form-check-input" type="radio" name="subCategory" id="{{ 'subCategory_' + subCategory.value }}" [(ngModel)]="subCategoryCode"
                            value="{{ subCategory.value }}" required (click)="onSelectSubCategory(subCategory.value)">
                        <label class="form-check-label" for="{{ 'subCategory_' + subCategory.value }}">
                            {{ subCategory.name | uppercase }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group mb-4">
                <ng-select name="circle" [items]="circles" bindLabel="name" bindValue="id" [(ngModel)]="datacardInput.circleId" placeholder="Circle"
                    required>
                </ng-select>
            </div>
            <div class="form-group mb-4">
                <ng-select name="serviceProvider" [items]="serviceProviders" bindLabel="name" bindValue="id" [(ngModel)]="datacardInput.serviceProviderId"
                    placeholder="Operator" required></ng-select>
            </div>
            <div class="form-group mb-4">
                <ng-select name="rechargePlaneType" [items]="rechargePlanTypes" bindLabel="name" bindValue="id" [(ngModel)]="datacardInput.rechargePlaneTypeId"
                    placeholder="Recharge Type" required></ng-select>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="expense" id="expense" [(ngModel)]="datacardInput.expense.expense" placeholder="Amount"
                    apsstrNumberInput required>
            </div>
        </form>
    </apsstr-card-body>
    <apsstr-card-footer extraClass="text-center">
        <button type="button" class="btn btn-primary" [disabled]="calculating || datacardInputForm.form.invalid" (click)="calculate()">
            <i class="fa fa-search"></i>&nbsp;My Offer</button>
    </apsstr-card-footer>
</apsstr-card>