<div>
    <h2>
        <span>Newsletter</span>
    </h2>
</div>
<kendo-grid [kendoGridBinding]="newsletters" [pageable]="true" [pageSize]="gridState.take" [skip]="gridState.skip" [filterable]="true"
    [resizable]="true" [navigable]="true">
    <kendo-grid-column class="text-center" field="id" width="80" title="ID" [filterable]="false"></kendo-grid-column>
    <kendo-grid-column class="text-center" field="emailId" title="Email ID" [filterable]="false"></kendo-grid-column>
    <kendo-grid-column class="text-center" field="phoneNumber" title="Phone Number" [filterable]="false"></kendo-grid-column>
    <kendo-grid-column class="text-center" field="mailPerWeek" title="Mail Per Week" [filterable]="false"></kendo-grid-column>
    <kendo-grid-column class="text-center" field="numberOfMailsSent" title="Mails Sent" [filterable]="false"></kendo-grid-column>
    <kendo-grid-column class="text-center" field="active" title="Active" filter="boolean"></kendo-grid-column>
</kendo-grid>
