
<div *ngIf="merchant">
    <h2><span>Merchant</span> {{merchant.id}}</h2>
    <hr>
    <apsstr-alert-error></apsstr-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{merchant.name}}</span>
        </dd>
        <dt><span>Url</span></dt>
        <dd>
            <span>{{merchant.url}}</span>
        </dd>
        <dt><span>Active</span></dt>
        <dd>
            <span>{{merchant.active}}</span>
        </dd>
        <dt><span>Sub Category</span></dt>
        <dd>
            <span *ngFor="let subCategory of merchant.subCategories; let last = last">
                <a [routerLink]="['/sub-category', subCategory?.id ]">{{subCategory.code}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'merchant/'+ merchant.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
