<div class="row justify-content-center">
    <div class="col-md-10">
        <tabset #createOfferTabs>
            <tab heading="Basic Info">
                <form name="form" role="form" #basicInfoForm="ngForm" novalidate>
                    <div class="form-group mb-3">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="offer.name" #name="ngModel" maxlength="500" required
                            placeholder="Title" />
                        <ng-container *ngIf="name.dirty && name.invalid">
                            <span class="form-text text-danger" *ngIf="name.errors.required">
                                Name is required.
                            </span>
                            <span class="form-text text-danger" *ngIf="name.errors.maxlength">
                                This field cannot be longer than 500 characters.
                            </span>
                        </ng-container>
                    </div>
                    <div class="form-group mb-3">
                        <label for="adminDescription">Admin Description</label>
                        <textarea class="form-control" id="adminDescription" name="adminDescription" [(ngModel)]="offer.adminDescription" #adminDescription="ngModel"
                            maxlength="2000" required>
                        </textarea>
                        <ng-container *ngIf="adminDescription.dirty && adminDescription.invalid">
                            <span class="form-text text-danger" *ngIf="adminDescription.errors.required">
                                Admin Description is required.
                            </span>
                            <span class="form-text text-danger" *ngIf="adminDescription.errors.maxlength">
                                This field cannot be longer than 2000 characters.
                            </span>
                        </ng-container>
                    </div>
                    <div class="form-group mb-3">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description" [(ngModel)]="offer.description" #description="ngModel"
                            maxlength="2000" required>
                        </textarea>
                        <ng-container *ngIf="description.dirty && description.invalid">
                            <span class="form-text text-danger" *ngIf="description.errors.required">
                                Description is required.
                            </span>
                            <span class="form-text text-danger" *ngIf="description.errors.maxlength">
                                This field cannot be longer than 2000 characters.
                            </span>
                        </ng-container>
                    </div>
                    <div class="form-group mb-3">
                        <label class="mr-5" for="type">Type</label>
                        <kendo-dropdownlist id="type" name="type" [data]="offerTypes" [defaultItem]="defaultOfferType" textField="name" valueField="id"
                            [(ngModel)]="offer.type" (selectionChange)="onOfferTypeChange($event)"></kendo-dropdownlist>
                    </div>
                    <div *ngIf="isCoupon" class="form-group mb-3">
                        <label for="code">Code</label>
                        <input type="text" class="form-control" id="code" name="code" [(ngModel)]="offer.code" #code="ngModel" maxlength="255" required
                            placeholder="Code" />
                        <ng-container *ngIf="code.dirty && code.invalid">
                            <span class="form-text text-danger" *ngIf="code.errors.required">
                                Code is required.
                            </span>
                            <span class="form-text text-danger" *ngIf="code.errors.maxlength">
                                This field cannot be longer than 255 characters.
                            </span>
                        </ng-container>
                    </div>
                    <div class="form-group mb-3">
                        <label class="mr-5" for="policy">Policy</label>
                        <kendo-dropdownlist id="policy" name="policy" [data]="offerPolicies" [defaultItem]="defaultOfferPolicy" textField="name"
                            valueField="id" [(ngModel)]="offer.policy"></kendo-dropdownlist>
                    </div>
                    <div class="form-group mb-3">
                        <label for="url">Url</label>
                        <textarea class="form-control" id="url" name="url" [(ngModel)]="offer.url" #url="ngModel" maxlength="2000">
                        </textarea>
                        <ng-container *ngIf="url.dirty && url.invalid">
                            <span class="form-text text-danger" *ngIf="url.errors.maxlength">
                                This field cannot be longer than 2000 characters.
                            </span>
                        </ng-container>
                    </div>
                    <button type="button" class="btn btn-success mt-2" [disabled]="basicInfoForm.form.invalid" (click)="goToNextTab(1)">Next</button>
                </form>
            </tab>
            <tab heading="Options" [disabled]="!enabledTabs[1]">
                <form name="form" role="form" #optionsForm="ngForm" novalidate>
                    <div class="form-group mb-3">
                        <label for="adminDescription">Admin Description</label>
                        <textarea class="form-control" id="adminDescription" name="adminDescription" [(ngModel)]="offer.adminDescription" readonly></textarea>
                    </div>
                    <fieldset class="fieldset-fix mb-3">
                        <legend class="legend-fix">
                            <strong>Maximum Uses</strong>
                        </legend>
                        <div class="row">
                            <div class="form-group col-sm-3 col-lg-2 mb-3">
                                <label for="maximumUsesPerUser">Per User</label>
                                <input type="number" class="form-control" id="maximumUsesPerUser" name="maximumUsesPerUser" [(ngModel)]="offer.maximumUsesPerUser"
                                />
                            </div>
                            <div class="form-group col-sm-3 col-lg-2 mb-3">
                                <label for="maximumUsesPerDay">Per Day</label>
                                <input type="number" class="form-control" id="maximumUsesPerDay" name="maximumUsesPerDay" [(ngModel)]="offer.maximumUsesPerDay"
                                />
                            </div>
                            <div class="form-group col-sm-3 col-lg-2 mb-3">
                                <label for="maximumUsesPerWeek">Per Week</label>
                                <input type="number" class="form-control" id="maximumUsesPerWeek" name="maximumUsesPerWeek" [(ngModel)]="offer.maximumUsesPerWeek"
                                />
                            </div>
                            <div class="form-group col-sm-3 col-lg-2 mb-3">
                                <label for="maximumUsesPerMonth">Per Month</label>
                                <input type="number" class="form-control" id="maximumUsesPerMonth" name="maximumUsesPerMonth" [(ngModel)]="offer.maximumUsesPerMonth"
                                />
                            </div>
                            <div class="form-group col-sm-3 col-lg-2 mb-3">
                                <label for="maximumUsesPerNumber">Per User</label>
                                <input type="number" class="form-control" id="maximumUsesPerNumber" name="maximumUsesPerNumber" [(ngModel)]="offer.maximumUsesPerNumber"
                                />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="fieldset-fix mb-3">
                        <legend class="legend-fix">
                            <strong>Options</strong>
                        </legend>
                        <div class="row">
                            <div class="form-group col-sm-4 mb-3">
                                <span class="col-sm-6">
                                    <label for="active">Active</label>
                                </span>
                                <span class="col-sm-6">
                                    <kendo-switch id="active" name="active" [(ngModel)]="offer.active" onLabel="Y" offLabel="N"></kendo-switch>
                                </span>
                            </div>
                            <div class="form-group col-sm-4 mb-3">
                                <span class="col-sm-6">
                                    <label for="newUserOnly">New User Only</label>
                                </span>
                                <span class="col-sm-6">
                                    <kendo-switch id="newUserOnly" name="newUserOnly" [(ngModel)]="offer.newUserOnly" onLabel="Y" offLabel="N"></kendo-switch>
                                </span>
                            </div>
                            <div class="form-group col-sm-4 mb-3">
                                <span class="col-sm-6">
                                    <label for="appOnly">App Only</label>
                                </span>
                                <span class="col-sm-6">
                                    <kendo-switch id="appOnly" name="appOnly" [(ngModel)]="offer.appOnly" onLabel="Y" offLabel="N"></kendo-switch>
                                </span>
                            </div>
                            <div class="form-group col-sm-4 mb-3">
                                <span class="col-sm-6">
                                    <label for="websiteOnly">Website Only</label>
                                </span>
                                <span class="col-sm-6">
                                    <kendo-switch id="websiteOnly" name="websiteOnly" [(ngModel)]="offer.websiteOnly" onLabel="Y" offLabel="N"></kendo-switch>
                                </span>
                            </div>
                            <div class="form-group col-sm-4 mb-3">
                                <span class="col-sm-6">
                                    <label for="dummy">Dummy</label>
                                </span>
                                <span class="col-sm-6">
                                    <kendo-switch id="dummy" name="dummy" [(ngModel)]="offer.dummy" onLabel="Y" offLabel="N"></kendo-switch>
                                </span>
                            </div>
                            <div class="form-group col-sm-4 mb-3">
                                <span class="col-sm-6">
                                    <label for="apsstrExclusive">Apsstr Exclusive</label>
                                </span>
                                <span class="col-sm-6">
                                    <kendo-switch id="apsstrExclusive" name="apsstrExclusive" [(ngModel)]="offer.apsstrExclusive" onLabel="Y" offLabel="N"></kendo-switch>
                                </span>
                            </div>
                        </div>
                    </fieldset>
                    <button type="button" class="btn btn-success mt-2" [disabled]="optionsForm.form.invalid" (click)="goToNextTab(2)">Next</button>
                </form>
            </tab>
            <tab heading="Detail Info" [disabled]="!enabledTabs[2]">
                <form name="form" role="form" #detailInfoForm="ngForm" novalidate>
                    <div class="form-group mb-3">
                        <label for="adminDescription">Admin Description</label>
                        <textarea class="form-control" id="adminDescription" name="adminDescription" [(ngModel)]="offer.adminDescription" readonly></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label class="mr-5" for="dates">Active Dates</label>
                        <kendo-dropdownlist id="dates" name="dates" [data]="dates" [defaultItem]="defaultDate" textField="date" valueField="id" [(ngModel)]="offer.activeDates"></kendo-dropdownlist>
                    </div>
                    <div class="form-group mb-3">
                        <label class="mr-5" for="days">Active Days</label>
                        <kendo-dropdownlist id="days" name="days" [data]="days" [defaultItem]="defaultDay" textField="day" valueField="id" [(ngModel)]="offer.activeDays"></kendo-dropdownlist>
                    </div>
                    <div class="form-group mb-3">
                        <label class="mr-5" for="countries">Countries</label>
                        <kendo-dropdownlist id="countries" name="countries" [data]="countries" [defaultItem]="defaultCountry" textField="name" valueField="id"
                            [(ngModel)]="offer.countries" (selectionChange)="onCountryChange($event)"></kendo-dropdownlist>
                    </div>
                    <div class="form-group mb-3">
                        <label class="mr-5" for="states">States</label>
                        <kendo-dropdownlist id="states" name="states" [data]="filteredStates" [defaultItem]="defaultState" textField="name" valueField="id"
                            [(ngModel)]="offer.states" (selectionChange)="onStateChange($event)"></kendo-dropdownlist>
                    </div>
                    <div class="form-group mb-3">
                        <label class="mr-5" for="cities">Cities</label>
                        <kendo-dropdownlist id="cities" name="cities" [data]="filteredCities" [defaultItem]="defaultCity" textField="name" valueField="id"
                            [(ngModel)]="offer.cities"></kendo-dropdownlist>
                    </div>
                    <div class="form-group mb-3">
                        <label class="mr-5" for="operatingSystems">Operating Systems</label>
                        <kendo-dropdownlist id="operatingSystems" name="operatingSystems" [data]="operatingSystems" [defaultItem]="defaultOperatingSystem"
                            textField="name" valueField="id" [(ngModel)]="offer.operatingSystems"></kendo-dropdownlist>
                    </div>
                    <div class="form-group mb-3">
                        <label class="mr-5" for="affiliates">Affiliate</label>
                        <kendo-dropdownlist id="affiliates" name="affiliates" [data]="affiliates" [defaultItem]="defaultAffiliate" textField="name"
                            valueField="id" [(ngModel)]="offer.affiliate"></kendo-dropdownlist>
                    </div>
                    <div class="form-group mb-3">
                        <label class="mr-5" for="merchants">Merchant</label>
                        <kendo-dropdownlist id="merchants" name="merchants" [data]="merchants" [defaultItem]="defaultMerchant" textField="name" valueField="id"
                            [(ngModel)]="offer.merchant"></kendo-dropdownlist>
                    </div>
                    <button type="button" class="btn btn-success mt-2" [disabled]="detailInfoForm.form.invalid" (click)="goToNextTab(3)">Next</button>
                </form>
            </tab>
            <tab heading="Offer Info" [disabled]="!enabledTabs[3]">
                <form name="form" role="form" #offerInfoForm="ngForm" novalidate>
                    <div class="form-group mb-3">
                        <label for="adminDescription">Admin Description</label>
                        <textarea class="form-control" id="adminDescription" name="adminDescription" [(ngModel)]="offer.adminDescription" readonly></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label class="mr-5" for="categories">Category</label>
                        <kendo-dropdownlist id="categories" name="categories" [data]="categories" [defaultItem]="defaultCategory" textField="name"
                            valueField="id" [(ngModel)]="offerCategory" (selectionChange)="onCategoryChange($event)"></kendo-dropdownlist>
                    </div>
                    <div class="form-group mb-3">
                        <label class="mr-5" for="subCategories">Sub Category</label>
                        <kendo-dropdownlist id="subCategories" name="subCategories" [data]="filteredSubCategories" [defaultItem]="defaultSubCategory"
                            textField="name" valueField="id" [(ngModel)]="offer.subCategories" (selectionChange)="onSubCategoryChange($event)"></kendo-dropdownlist>
                    </div>
                    <div class="form-group mb-3">
                        <label class="mr-5" for="serviceProviders">Service Providers</label>
                        <kendo-dropdownlist id="serviceProviders" name="serviceProviders" [data]="filteredServiceProviders" [defaultItem]="defaultServiceProvider"
                            textField="name" valueField="id" [(ngModel)]="offer.serviceProviders"></kendo-dropdownlist>
                    </div>
                    <fieldset class="fieldset-fix mb-3" *ngIf="offerCategory" [ngSwitch]="offerCategory.name">
                        <legend class="legend-fix">
                            <strong>{{ offerCategory.name + ' Info' }}</strong>
                        </legend>
                        <ng-container *ngSwitchCase="categoryEnum.RCHRG">
                            <div class="form-group mb-3">
                                <label class="mr-5" for="reechargeInfo_circles">Circles</label>
                                <kendo-dropdownlist id="reechargeInfo_circles" name="reechargeInfo_circles" [data]="circles" [defaultItem]="defaultCircle"
                                    textField="name" valueField="id" [(ngModel)]="offer.reechargeInfo.circles"></kendo-dropdownlist>
                            </div>
                        </ng-container>
                    </fieldset>
                    <button type="button" class="btn btn-success mt-2" [disabled]="offerInfoForm.form.invalid" (click)="goToNextTab(4)">Next</button>
                </form>
            </tab>
            <tab heading="Return Info" [disabled]="!enabledTabs[4]"></tab>
        </tabset>
    </div>
</div>
