<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <apsstr-alert-new *ngIf="success" type="success">
                <strong>Registration saved!</strong> Please check Email for confirmation.
            </apsstr-alert-new>
            <apsstr-alert-new *ngIf="error" type="error">
                <strong>Registration failed!</strong> Please try again later.
            </apsstr-alert-new>
            <apsstr-alert-new *ngIf="errorUserExists" type="error">
                <strong>Login name already registered!</strong> Please choose another one.
            </apsstr-alert-new>
            <apsstr-alert-new *ngIf="errorEmailExists" type="error">
                <strong>Email is already in use!</strong> Please choose another one.
            </apsstr-alert-new>
            <apsstr-alert-new *ngIf="doNotMatch" type="error">
                The password and its confirmation do not match!
            </apsstr-alert-new>
        </div>
    </div>
    <div class="row justify-content-center" *ngIf="!success">
        <div class="col-md-6">
            <apsstr-card extraClass="mx-4">
                <apsstr-card-body extraClass="p-4">
                    <h1>Register</h1>
                    <p class="text-muted">Create your account</p>
                    <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm">
                        <div class="mb-3">
                            <div class="input-group mb-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-user"></i>
                                    </span>
                                </div>
                                <input type="text" [ngClass]="{ 'form-control': true, 'is-invalid': login.dirty && login.invalid, 'is-valid': login.dirty && !login.invalid}"
                                    [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" required minlength="1"
                                    maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$" placeholder="Username">
                            </div>
                            <div *ngIf="login.dirty && login.invalid">
                                <small class="form-text text-danger" *ngIf="login.errors.required">
                                    Username is required.
                                </small>
                                <small class="form-text text-danger" *ngIf="login.errors.minlength">
                                    Username is required to be at least 1 character.
                                </small>
                                <small class="form-text text-danger" *ngIf="login.errors.maxlength">
                                    Username cannot be longer than 50 characters.
                                </small>
                                <small class="form-text text-danger" *ngIf="login.errors.pattern">
                                    Username can only contain letters and digits.
                                </small>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="input-group mb-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@</span>
                                </div>
                                <input type="text" [ngClass]="{ 'form-control': true, 'is-invalid': email.dirty && email.invalid, 'is-valid': email.dirty && !email.invalid}"
                                    id="email" name="email" #email="ngModel" [(ngModel)]="registerAccount.email" minlength=5
                                    maxlength=100 email required placeholder="Email">
                            </div>
                            <div *ngIf="email.dirty && email.invalid">
                                <small class="form-text text-danger" *ngIf="email.errors.required">
                                    Email is required.
                                </small>
                                <small class="form-text text-danger" *ngIf="email.errors.invalid">
                                    Email is invalid.
                                </small>
                                <small class="form-text text-danger" *ngIf="email.errors.minlength">
                                    Email is required to be at least 5 characters.
                                </small>
                                <small class="form-text text-danger" *ngIf="email.errors.maxlength">
                                    Email cannot be longer than 100 characters.
                                </small>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="input-group mb-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-lock"></i>
                                    </span>
                                </div>
                                <input type="password" [ngClass]="{ 'form-control': true, 'is-invalid': password.dirty && password.invalid, 'is-valid': password.dirty && !password.invalid}"
                                    id="password" name="password" #password="ngModel" [(ngModel)]="registerAccount.password"
                                    minlength=4 maxlength=50 required placeholder="Password">
                            </div>
                            <div *ngIf="password.dirty && password.invalid">
                                <small class="form-text text-danger" *ngIf="password.errors.required">
                                    Password is required.
                                </small>
                                <small class="form-text text-danger" *ngIf="password.errors.minlength">
                                    Password is required to be at least 4 characters.
                                </small>
                                <small class="form-text text-danger" *ngIf="password.errors.maxlength">
                                    Password cannot be longer than 50 characters.
                                </small>
                            </div>
                            <apsstr-password-strength-bar [passwordToCheck]="registerAccount.password"></apsstr-password-strength-bar>
                        </div>
                        <div class="mb-3">
                            <div class="input-group mb-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-lock"></i>
                                    </span>
                                </div>
                                <input type="password" [ngClass]="{ 'form-control': true, 'is-invalid': confirmPasswordInput.dirty && confirmPasswordInput.invalid, 'is-valid': confirmPasswordInput.dirty && !confirmPasswordInput.invalid}"
                                    id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" [(ngModel)]="confirmPassword"
                                    minlength=4 maxlength=50 required placeholder="Repeat password">
                            </div>
                            <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                                <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required">
                                    Confirmation password is required.
                                </small>
                                <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength">
                                    Confirmation password is required to be at least 4 characters.
                                </small>
                                <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength">
                                    Confirmation password cannot be longer than 50 characters.
                                </small>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-block btn-success" [disabled]="registerForm.form.invalid">Join now</button>
                    </form>
                </apsstr-card-body>
                <apsstr-card-footer extraClass="p-4">
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <apsstr-social provider="google-plus"></apsstr-social>
                        </div>
                        <div class="col-6">
                            <apsstr-social provider="facebook"></apsstr-social>
                        </div>
                        <div class="col-6">
                            <apsstr-social provider="twitter"></apsstr-social>
                        </div>
                    </div>
                </apsstr-card-footer>
            </apsstr-card>
        </div>
    </div>
</div>
