
<div *ngIf="offerReturn">
    <h2><span>Offer Return</span> {{offerReturn.id}}</h2>
    <hr>
    <apsstr-alert-error></apsstr-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Extras</span></dt>
        <dd>
            <div *ngIf="offerReturn.extras">
                <a [routerLink]="['/return-extras', offerReturn.extras?.id]">{{offerReturn.extras?.id}}</a>
            </div>
        </dd>
        <dt><span>Offer</span></dt>
        <dd>
            <div *ngIf="offerReturn.offer">
                <a [routerLink]="['/offer', offerReturn.offer?.id]">{{offerReturn.offer?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'offer-return/'+ offerReturn.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
