<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOfferReturnLabel">Create or edit a Offer Return</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <apsstr-alert-error></apsstr-alert-error>
        <div class="form-group" [hidden]="!offerReturn.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="offerReturn.id" readonly />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_extras">Extras</label>
            <select class="form-control" id="field_extras" name="extras" [(ngModel)]="offerReturn.extras">
                <option [ngValue]="null"></option>
                <option [ngValue]="returnExtrasOption.id === offerReturn.extras?.id ? offerReturn.extras : returnExtrasOption" *ngFor="let returnExtrasOption of extras; trackBy: trackReturnExtrasById">{{returnExtrasOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_offer">Offer</label>
            <select class="form-control" id="field_offer" name="offer" [(ngModel)]="offerReturn.offer" >
                <option [ngValue]="null"></option>
                <option [ngValue]="offerOption.id === offerReturn.offer?.id ? offerReturn.offer : offerOption" *ngFor="let offerOption of offers; trackBy: trackOfferById">{{offerOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
