<div>
    <h2>
        <span>Card Type</span>
    </h2>
</div>
<div kendoDialogContainer></div>
<kendo-grid [kendoGridReactiveEditing]="createCardTypeFormGroup" [kendoGridBinding]="cardTypes" [pageable]="true" [pageSize]="gridState.take"
    [skip]="gridState.skip" [sortable]="true" [filterable]="true" [resizable]="true" [navigable]="true" (save)="saveItem($event)"
    (remove)="deleteItem($event.dataItem)">
    <ng-template kendoGridToolbarTemplate>
        <div class="float-right">
            <button kendoGridAddCommand>Add new</button>
        </div>
    </ng-template>
    <kendo-grid-column class="text-center" field="id" width="80" title="ID" [filterable]="false" [sortable]="false" [editable]="false"></kendo-grid-column>
    <kendo-grid-column class="text-center" field="name" title="Name"></kendo-grid-column>
    <kendo-grid-command-column title="Action" width="220">
        <ng-template kendoGridCellTemplate let-isNew="isNew">
            <div class="text-center">
                <button kendoGridEditCommand class="k-primary">Edit</button>
                <button kendoGridRemoveCommand>Delete</button>
                <button kendoGridSaveCommand [disabled]="cardTypeFormGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
                <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
            </div>
        </ng-template>
    </kendo-grid-command-column>
</kendo-grid>
