<apsstr-card>
  <apsstr-card-header>
    <i class="fa fa-lg fa-mobile" aria-hidden="true"></i>
    <span>FLIGHT</span>
  </apsstr-card-header>
  <apsstr-card-body>
    <form role="form" #flightInputForm="ngForm" novalidate>
      <div class="form-group">
        <label class="radio-inline" for="{{ 'travelType_' + travelType.name }}" *ngFor="let travelType of travelTypes">
          <input type="radio" id="{{ 'travelType_' + travelType.name }}" name="travelType" [(ngModel)]="flightInput.travelTypeId" value="{{ travelType.id }}">
          <span class="mr-2 ml-1">
            {{ travelType.name | uppercase }}
          </span>
        </label>
      </div>
      <div class="form-group">
        <label class="radio-inline" for="from" *ngFor="let region of regions">
          <input type="radio" id="from" name="from" [(ngModel)]="flightInput.originId" value="{{ region.id }}">
          <span class="mr-2 ml-1">
            <ng-container [ngSwitch]="region.name">
              <ng-container *ngSwitchCase="regionsEnum.Domestic">
                India
              </ng-container>
              <ng-container *ngSwitchCase="regionsEnum.International">
                Outside India
              </ng-container>
            </ng-container>
          </span>
        </label>
      </div>
      <div class="form-group">
        <label class="radio-inline" for="to" *ngFor="let region of regions">
          <input type="radio" id="to" name="to" [(ngModel)]="flightInput.flightTypeId" value="{{ region.id }}">
          <span class="mr-2 ml-1">
            <ng-container [ngSwitch]="region.name">
              <ng-container *ngSwitchCase="regionsEnum.Domestic">
                India
              </ng-container>
              <ng-container *ngSwitchCase="regionsEnum.International">
                Outside India
              </ng-container>
            </ng-container>
          </span>
        </label>
      </div>
      <div class="form-group">
        <ng-select name="flightClass" [items]="flightClasses" bindLabel="name" bindValue="id" [(ngModel)]="flightInput.flightClassId"
          placeholder="Class" required>
        </ng-select>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="expense" id="expense" [(ngModel)]="flightInput.expense.expense" placeholder="Amount"
          apsstrNumberInput required>
      </div>
    </form>
  </apsstr-card-body>
  <apsstr-card-footer class="text-center">
    <button type="button" class="btn btn-primary" [disabled]="calculating || flightInputForm.form.invalid" (click)="calculate()">
      <i class="fa fa-search"></i>&nbsp;My Offer</button>
  </apsstr-card-footer>
</apsstr-card>