
<div *ngIf="offerPayment">
    <h2><span>Offer Payment</span> {{offerPayment.id}}</h2>
    <hr>
    <apsstr-alert-error></apsstr-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Mode</span></dt>
        <dd>
            <span *ngFor="let mode of offerPayment.modes; let last = last">
                <a [routerLink]="['/card-type', mode?.id ]">{{mode.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Card</span></dt>
        <dd>
            <span *ngFor="let card of offerPayment.cards; let last = last">
                <a [routerLink]="['/card', card?.id ]">{{card.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'offer-payment/'+ offerPayment.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
