.app-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: $footer-height;
  line-height: $footer-height;
  padding: 0 $spacer;
  color: $footer-color;
  background: $footer-bg;
  @include borders($footer-borders);
}
