<div>
    <h2>
        <span>Affiliate Credentials</span>
        <button class="btn btn-primary float-right jh-create-entity create-affiliate-credential" [routerLink]="['/', { outlets: { popup: ['affiliate-credential-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Affiliate Credential
            </span>
        </button>
    </h2>
    <apsstr-alert></apsstr-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="affiliateCredentials">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Tracking Id</span></th>
            <th><span>Token</span></th>
            <th><span>Api Key</span></th>
            <th><span>Active</span></th>
            <th><span>Affiliate</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let affiliateCredential of affiliateCredentials ;trackBy: trackId">
                <td><a [routerLink]="['../affiliate-credential', affiliateCredential.id ]">{{affiliateCredential.id}}</a></td>
                <td>{{affiliateCredential.trackingId}}</td>
                <td>{{affiliateCredential.token}}</td>
                <td>{{affiliateCredential.apiKey}}</td>
                <td>{{affiliateCredential.active}}</td>
                <td>
                    <div *ngIf="affiliateCredential.affiliate">
                        <a [routerLink]="['../affiliate', affiliateCredential.affiliate?.id ]" >{{affiliateCredential.affiliate?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../affiliate-credential', affiliateCredential.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'affiliate-credential/'+ affiliateCredential.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'affiliate-credential/'+ affiliateCredential.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
