<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAffiliateCredentialLabel">Create or edit a Affiliate Credential</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <apsstr-alert-error></apsstr-alert-error>
        <div class="form-group" [hidden]="!affiliateCredential.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="affiliateCredential.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_trackingId">Tracking Id</label>
            <input type="text" class="form-control" name="trackingId" id="field_trackingId"
                [(ngModel)]="affiliateCredential.trackingId" maxlength="255"/>
            <div [hidden]="!(editForm.controls.trackingId?.dirty && editForm.controls.trackingId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.trackingId?.errors?.maxlength">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_token">Token</label>
            <input type="text" class="form-control" name="token" id="field_token"
                [(ngModel)]="affiliateCredential.token" maxlength="255"/>
            <div [hidden]="!(editForm.controls.token?.dirty && editForm.controls.token?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.token?.errors?.maxlength">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_apiKey">Api Key</label>
            <input type="text" class="form-control" name="apiKey" id="field_apiKey"
                [(ngModel)]="affiliateCredential.apiKey" maxlength="255"/>
            <div [hidden]="!(editForm.controls.apiKey?.dirty && editForm.controls.apiKey?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.apiKey?.errors?.maxlength">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                [(ngModel)]="affiliateCredential.active" />
            <div [hidden]="!(editForm.controls.active?.dirty && editForm.controls.active?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.active?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_affiliate">Affiliate</label>
            <select class="form-control" id="field_affiliate" name="affiliate" [(ngModel)]="affiliateCredential.affiliate" >
                <option [ngValue]="null"></option>
                <option [ngValue]="affiliateOption.id === affiliateCredential.affiliate?.id ? affiliateCredential.affiliate : affiliateOption" *ngFor="let affiliateOption of affiliates; trackBy: trackAffiliateById">{{affiliateOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
