<div>
    <h2>
        <span>Affiliate Credential</span>
    </h2>
</div>
<div kendoDialogContainer></div>
<kendo-grid [kendoGridReactiveEditing]="createAffiliateCredentialFormGroup" [kendoGridBinding]="affiliateCredentials" [pageable]="true"
    [pageSize]="gridState.take" [skip]="gridState.skip" [sortable]="true" [filterable]="true" [resizable]="true" [navigable]="true"
    (save)="saveItem($event)" (remove)="deleteItem($event.dataItem)">
    <ng-template kendoGridToolbarTemplate>
        <button class="float-right" kendoGridAddCommand>Add new</button>
    </ng-template>
    <kendo-grid-column class="text-center" field="id" width="80" title="ID" [filterable]="false" [sortable]="false" [editable]="false"></kendo-grid-column>
    <kendo-grid-column class="text-center" field="trackingId" title="trackingId" [filterable]="false" [sortable]="false"></kendo-grid-column>
    <kendo-grid-column class="text-center" field="token" title="token" [filterable]="false" [sortable]="false"></kendo-grid-column>
    <kendo-grid-column class="text-center" field="apiKey" title="apiKey" [filterable]="false" [sortable]="false"></kendo-grid-column>
    <kendo-grid-column class="text-center" width="210" field="affiliate" title="Affiliate" [sortable]="false">
        <!-- [filterable]="false" -->
        <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.affiliate?.name }}
        </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-column="column" let-formGroup="formGroup">
            <kendo-dropdownlist [data]="affiliates" [defaultItem]="defaultAffiliate" textField="name" valueField="id" [formControl]="formGroup.get('affiliate')"></kendo-dropdownlist>
        </ng-template>
        <ng-template kendoGridFilterCellTemplate let-dataItem>
            <apsstr-drop-down-list-filter [filter]="dataItem" [data]="affiliates" textField="name" valueField="id" [filterable]="true">
            </apsstr-drop-down-list-filter>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column class="text-center" width="190" field="active" title="Status" filter="boolean" editor="boolean">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span [ngClass]="{ 'badge': true, 'badge-pill': true, 'px-2': true, 'py-1': true, 'badge-success': dataItem.active, 'badge-danger': !dataItem.active }">{{ dataItem.active ? 'Active' : 'InActive' }}</span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-command-column title="Action" width="200">
        <ng-template kendoGridCellTemplate let-isNew="isNew">
            <div class="text-center">
                <button kendoGridEditCommand class="k-primary">Edit</button>
                <button kendoGridRemoveCommand>Delete</button>
                <button kendoGridSaveCommand [disabled]="affiliateCredentialFormGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
                <button kendoGridCancelCommand>{{ isNew ? 'Discard' : 'Cancel' }}</button>
            </div>
        </ng-template>
    </kendo-grid-command-column>
</kendo-grid>
