
<div *ngIf="affiliateCredential">
    <h2><span>Affiliate Credential</span> {{affiliateCredential.id}}</h2>
    <hr>
    <apsstr-alert-error></apsstr-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Tracking Id</span></dt>
        <dd>
            <span>{{affiliateCredential.trackingId}}</span>
        </dd>
        <dt><span>Token</span></dt>
        <dd>
            <span>{{affiliateCredential.token}}</span>
        </dd>
        <dt><span>Api Key</span></dt>
        <dd>
            <span>{{affiliateCredential.apiKey}}</span>
        </dd>
        <dt><span>Active</span></dt>
        <dd>
            <span>{{affiliateCredential.active}}</span>
        </dd>
        <dt><span>Affiliate</span></dt>
        <dd>
            <div *ngIf="affiliateCredential.affiliate">
                <a [routerLink]="['/affiliate', affiliateCredential.affiliate?.id]">{{affiliateCredential.affiliate?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'affiliate-credential/'+ affiliateCredential.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
