
<div *ngIf="reechargeInfo">
    <h2><span>Reecharge Info</span> {{reechargeInfo.id}}</h2>
    <hr>
    <apsstr-alert-error></apsstr-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Circle</span></dt>
        <dd>
            <span *ngFor="let circle of reechargeInfo.circles; let last = last">
                <a [routerLink]="['/circle', circle?.id ]">{{circle.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'reecharge-info/'+ reechargeInfo.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
