<div class="modal-header">
    <h4 class="modal-title">Sign in</h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="alert alert-danger" *ngIf="authenticationError">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-6">
                <apsstr-social provider="facebook"></apsstr-social>
            </div>
            <div class="col-6">
                <apsstr-social provider="google-plus"></apsstr-social>
            </div>
            <div class="col-6">
                <apsstr-social provider="twitter"></apsstr-social>
            </div>
            <!-- jhipster-needle-add-social-button -->
        </div>
        <div class="col-md-8">
            <form class="form" role="form" (ngSubmit)="login()" #loginForm="ngForm" novalidate>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="icon-user"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username" [(ngModel)]="username" required>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="icon-key"></i>
                        </span>
                    </div>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" [(ngModel)]="password" required>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe" checked>
                    <label class="form-check-label" for="rememberMe">
                        Remember me
                    </label>
                </div>
                <button type="submit" class="btn btn-block btn-primary mt-3" [disabled]="loginForm.form.invalid">Sign in</button>
            </form>
            <p></p>
            <div>
                <a class="alert-link" (click)="requestResetPassword()">Forgot password?</a>
            </div>
            <div>
                Not a member?
                <a class="alert-link" (click)="register()">Join now</a>
            </div>
        </div>
    </div>
</div>
